body {
  text-align: center;
  padding-top: 100px;
  margin: 0 auto;
}

section {
  height: 400px;
  width: 600px;
  padding-top: 20px;
  margin: 0 auto;
}
.chart rect {
  fill: orange;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}
